<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<display-name>shift example 1</display-name>
	<description>shift example 1</description>
	
	<!-- =========================================================================== -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	
	<!-- App Servlets ===================================================== -->	  																													 -->
	<servlet>
		<servlet-name>ExampleShiftParagraphsServlet</servlet-name>
		<servlet-class>de.paloula.exampleshift.ExampleShiftParagraphsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExampleShiftParagraphsServlet</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	
	<!-- Ajax App ===================================================== -->	
	<servlet>
		<servlet-name>ShiftParagraphServlet</servlet-name>
		<servlet-class>de.paloula.exampleshift.ShiftParagraphServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShiftParagraphServlet</servlet-name>
		<url-pattern>*.shift</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>ShiftPargraphXMLOutServlet</servlet-name>
		<servlet-class>de.paloula.exampleshift.ShiftPargraphXMLOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShiftPargraphXMLOutServlet</servlet-name>
		<url-pattern>*.shiftout</url-pattern>
	</servlet-mapping>	
	

	<!--Mime mapping =========================================================================== -->
	<mime-mapping>
		<extension>jar</extension>
		<mime-type>application/x-gzip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>war</extension>
		<mime-type>application/x-gzip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wbmp</extension>
		<mime-type>image/vnd.wap.wbmp</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wml</extension>
		<mime-type>text/vnd.wap.wml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wmlc</extension>
		<mime-type>application/vnd.wap.wmlc</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wmls</extension>
		<mime-type>text/vnd.wap.wmls</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wmlscriptc</extension>
		<mime-type>application/vnd.wap.wmlscriptc</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/msword</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>docx</extension>
		<mime-type>application/vnd.openxmlformats</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/vnd.ms-excel</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ppt</extension>
		<mime-type>application/vnd.ms-powerpoint</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>csv</extension>
		<mime-type>application/csv</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xml</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			html
		</extension>
		<mime-type>
			text/html
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			htm
		</extension>
		<mime-type>
			text/html
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			gif
		</extension>
		<mime-type>
			image/gif
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			jpg
		</extension>
		<mime-type>
			image/jpeg
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			jpe
		</extension>
		<mime-type>
			image/jpeg
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			jpeg
		</extension>
		<mime-type>
			image/jpeg
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			zip
		</extension>
		<mime-type>
			application/zip
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			pdf
		</extension>
		<mime-type>
			application/pdf
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			au
		</extension>
		<mime-type>
			audio/basic
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			snd
		</extension>
		<mime-type>
			audio/basic
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			aif
		</extension>
		<mime-type>
			audio/x-aiff
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			aiff
		</extension>
		<mime-type>
			audio/x-aiff
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			aifc
		</extension>
		<mime-type>
			audio/x-aiff
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			wav
		</extension>
		<mime-type>
			audio/x-wav
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			mpeg
		</extension>
		<mime-type>
			video/mpeg
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			mpg
		</extension>
		<mime-type>
			video/mpeg
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			mpe
		</extension>
		<mime-type>
			video/mpeg
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			qt
		</extension>
		<mime-type>
			video/quicktime
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			mov
		</extension>
		<mime-type>
			video/quicktime
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			avi
		</extension>
		<mime-type>
			video/x-msvideo
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			movie
		</extension>
		<mime-type>
			video/x-sgi-movie
		</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>
			avx
		</extension>
		<mime-type>
			video/x-rad-screenplay
		</mime-type>
	</mime-mapping>Q
</web-app>
